body,
p,
a,
li {
    @include font(16);
    color: $dark-grey;

    h1 {
        @include font(36);
    }

    h3 {
        @include font(24);
    }
}

body {
    img {
        display: block;
        max-width: 100%;
    }
    
    .notificacao-alerta {
        .alert {
            padding: 15px;
            color: $light-grey;
            font-size: 1.125em;

            &.alert-success {
                background-color: $dark-green;
                border-color: $light-green;
            }
    
            &.alert-warning {
                background-color: $dark-orange;
                border-color: $light-orange;
            }
        }
    }
    
    form {
        label, input, input:focus, select {
            color: $dark-grey !important;
        }

        input, select, .uk-search-input {
            outline: none;
            border-color: $grey;

            &:focus {
                border-color: $green !important;
            }
        }

        .uk-text-danger {
            @include font(14);
        }

        .aviso {
            color: $dark-red;
        }

        /* icone de mostrar/esconder senha */
        .btn-form-senha-modal {
            height: 40px;
            background: $green;
            border: none;
            cursor: pointer;
            border-radius: 0 5px 5px 0;
            outline: none;
            color: $dark-grey;
        }

        i {
            color: $dark-grey;
        }
    }

    .btn {
        .uk-button {
            @include device(xs) {
                padding: 0 10px;
            }
        }
        
        a {
            display: inline-block;
            transition: 0.4s;
            font-weight: 700;
            color: $light-grey;
            border-radius: 4px;

            &:hover {
                color: $dark-grey;
                box-shadow: 0px 0px 0px 3px $dark-grey;
            }

            &.btn-confirmar, &.btn-modal-confirmar, &.btn-acao {
                background: $dark-green;
            }

            &.btn-cancelar {
                background: $red;
            }

            &.btn-solicitacao {
                background: $dark-orange;
            }

            &.link-voltar-login {
                @include font(16);
                color: $dark-orange !important;
                padding: 8px 13px;

                &.inicial {
                    text-transform: initial;
                }
            }

            &.link-voltar {
                position: absolute;
                top: 272px;
                padding: 10px;
                border-radius: 50%;

                @include device(xs) {
                    top: 258px;
                }

                i {
                    vertical-align: middle;
                }
            }
        }

        button {
            display: inline-block;
            transition: 0.4s;
            font-weight: 700;
            color: $light-grey;
            border-radius: 4px;

            &:hover {
                color: $dark-grey;
                box-shadow: 0px 0px 0px 3px $dark-grey;
            }

            &.btn-cancelar {
                background: $red;
            }
        }
    }
}

