body, p, a, h1, h2, h3, h5, li {
  @include font(16);
  color: $dark-grey;

  h1 {
    @include font(36);
  }

  h3 {
    @include font(24);
  }

  .form {
    .btn-form-senha-modal {
      background: $green;
      border: none;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      outline: none;
      color: $dark-grey;
    }

    i {
      color: $dark-grey;
    }
  }

  .btn a {
    transition: .4s;
    font-weight: 700;

    &.btn-entrar, &.btn-enviar, &.btn-cadastrar {
      background: $dark-green;
      color: $light-grey;

      &:hover {
        color: $dark-grey;
        box-shadow: 0px 0px 0px 3px $dark-grey;
      }
    }

    &.btn-cancelar {
      background: $red;
      color: $light-grey;
      margin-right: 10px;

      &:hover {
        color: $dark-grey;
        box-shadow: 0px 0px 0px 3px $dark-grey;
      }
    }
  }
}