.login {
  .bg-card-form {
    max-width: 500px;

    .chk-lembrar-senha {
      @include font(14);
    }

    .acoes-login {
      span:first-of-type::after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background: $light-orange;
        display: inline-block;
        margin: 0 5px 2px 5px;
      }

      a {
        @include font(14);
        color: $dark-green;
        transition: 0.4s;
        text-transform: initial;
        padding: 0;

        &:hover {
          color: $green;
        }
      }
    }
  }
}
