.btn-menu-mobile {
  a,
  span {
    color: $dark-grey;
  }

  a {
    padding: 0 10px 0 0;

    &:hover {
      color: $dark-grey;
      outline: none;
    }
  }
}

.menu-mobile {
  background: $light-grey;

  .divisor {
    border-top: 1px solid rgba(17, 153, 51, 0.1);
  }

  li {
    width: 250px;
    margin-left: -20px;
    padding: 6px 0;

    &.active {
      background: rgba(255, 136, 34, 0.4);
      border-radius: 0 10px 10px 0;
    }

    a {
      color: $dark-grey;
      display: flex;
      padding: 5px 100px 5px 20px;

      &:visited,
      &:active,
      &:hover {
        color: $dark-grey;
        outline: none;
        text-decoration: none;
      }

      i {
        margin-right: 10px;
      }
    }
  }
}
