.navbar {
  @include device(s) {
    padding: 5px 15px 5px 0;
  }

  @include device(m) {
    padding: 5px 30px 5px 15px;
  }

  @include device(l) {
    padding: 5px 40px 5px 25px;
  }

  @include device(xl) {
    padding: 5px 80px 5px 65px;
  }

  &.navbar-interno {
    background: $green !important;

    .logo-cabecalho {
      @include device(xs) {
        margin: 0 auto;
      }
    }

    .menu {
      li {
        margin-left: 15px;

        .uk-navbar-dropdown {
          width: 150px;
          padding: 20px;
          color: $dark-grey;
          background: $light-grey;
          border-radius: 4px;
        }

        a {
          @include font(16);
          padding: 8px 13px;
          min-height: 1px;
          display: inline-block;

          &::after {
            content: "";
            display: block;
            background: $orange;
            height: 2px;
            width: 0;
            transition: 0.4s;
          }

          &:hover::after {
            width: 100%;
          }

          /* 'after' do link ativo */
          &.active::after {
            width: 100%;
          }
        }

        .btn-login {
          margin-left: 10px;
          background: $orange;
          color: $light-grey;
          transition: 0.4s;
          display: flex;

          &:hover {
            color: $dark-grey;
            box-shadow: 0px 0px 0px 3px $dark-grey;
          }

          i {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
