.alerta-sucesso {
    .alert {
        padding: 15px;
        color: $light-grey;
        background-color: $dark-green;
        border-color: $light-green;
        font-size: 1.125em;
    }
}

.andares {
    h1 {
        margin-bottom: 30px;

        &::after {
            content: "";
            display: block;
            width: 90px;
            height: 3px;
            background: $light-orange;
            margin-top: 10px;
            border-radius: 5px;
        }
    }

    a {
        display: block;
    }

    .card-andar {
        background: $light-grey no-repeat;
        border: 1px solid $light-green;
        padding: 30px;

        &:hover {
            background-color: $light-grey;
        }

        h3 {
            font-weight: 700;
        }

        .img-bg-andar {
            margin: 10px 0 30px 0;

            &:last-of-type {
                height: 290px;
            }
        }
    }
}
