.recuperar-senha {
  .card-recuperar-senha {
    background: $light-grey;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;

    .alerta-logado {
      h4 {
        @include font(16);
        color: $orange;
        font-size: 1.125em;
      }

      .link-voltar-home {
        @include font(16);
        color: $dark-green !important;
        transition: 0.4s;
        margin-top: 20px;

        &:hover {
          color: $green !important;
        }
      }
    }
  }
}
