table {
  th {
    color: $dark-grey !important;
    font-weight: bold !important;
  }

  .btn {
    margin-top: 0;

    a, button {
      padding: 0 20px;
    }

    i {
      vertical-align: middle;
    }

    @include device(xs) {
      display: flex !important;
    }
  }
}