.usuarios {
  .form-buscar {
    input {
      &:focus {
        border: 1px solid $green;
      }
    }

    .btn {
      margin-top: 0;

      a{
        padding: 0 20px;

        @include device(xs) {
          display: inline-block;
          margin-top: 20px;
        }

        i {
          vertical-align: middle;
        }

        &.btn-cancelar {
          @include device(xs) {
            margin-right: 20px !important;
            margin-top: 0 !important;
          }
        }
      }
    }
  }
}
