.usuarios {
    .btn {
        margin-top: 0;

        &.btn-usuarios-acao {
            @media screen and (max-width: 868px) {
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 990px) {
            .btn-acao,
            .btn-cancelar {
                padding: 0 20px;
            }
        }
    }

    table th {
        color: $dark-grey;
        font-weight: bold;
    }
}
