.usuarios {
    table {
        th {
            color: $dark-grey;
            font-weight: bold;
        }

        .btn {
            margin-top: 0;

            i {
                vertical-align: middle;
            }
        }
    }

    .btn {
        &.btn-usuarios-acao {
            margin-top: 0;

            @media screen and (max-width: 868px) {
                margin-top: 20px;
            }
        }

        @media screen and (max-width: 990px) {
            .btn-acao,
            .btn-cancelar {
                padding: 0 20px;
            }
        }
    }
}
