body,
p,
a,
li {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  color: #18211a;
}

body h1,
p h1,
a h1,
li h1 {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 2.25em;
  line-height: 1.2;
  font-weight: 500;
}

body h3,
p h3,
a h3,
li h3 {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1.5em;
  line-height: 1.4;
  font-weight: 500;
}

body img {
  display: block;
  margin: 0 auto;
}

body .notificacao-alerta .alert {
  padding: 15px;
  color: #f7faf8;
  font-size: 1.125em;
}

body .notificacao-alerta .alert.alert-success {
  background-color: #193;
  border-color: #9fa;
}

body .notificacao-alerta .alert.alert-warning {
  background-color: #d60;
  border-color: #fa6;
}

body .card-cadastro,
body .card-editar-usuario,
body .card-editar-solicitacao {
  background: #f7faf8;
  max-width: 990px;
  margin: 0 auto;
  padding: 30px;
}

body form {
  /* icone de mostrar/esconder senha */
}

body form label,
body form input,
body form input:focus,
body form select {
  color: #18211a !important;
}

body form input,
body form select,
body form .uk-search-input {
  outline: none;
  border-color: #c1d6c8;
}

body form input:focus,
body form select:focus,
body form .uk-search-input:focus {
  border-color: #5d7 !important;
}

body form .uk-text-danger {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 0.875em;
  line-height: 1.4;
  font-weight: 500;
}

body form .aviso {
  color: #e21;
}

body form .btn-form-senha-modal {
  height: 40px;
  background: #5d7;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #18211a;
}

body form i {
  color: #18211a;
}

@media screen and (max-width: 639px) {
  body .btn .uk-button {
    padding: 0 20px;
  }
}

body .btn a {
  display: inline-block;
  transition: 0.4s;
  font-weight: 700;
  color: #f7faf8;
  border-radius: 4px;
}

body .btn a:hover {
  color: #18211a;
  box-shadow: 0px 0px 0px 3px #18211a;
}

body .btn a.btn-confirmar, body .btn a.btn-modal-confirmar, body .btn a.btn-acao {
  background: #193;
}

body .btn a.btn-cancelar {
  background: #f32;
}

body .btn a.btn-solicitacao {
  background: #d60;
}

body .btn a.link-voltar-login {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  color: #d60 !important;
  padding: 8px 13px;
}

body .btn a.link-voltar-login.inicial {
  text-transform: initial;
}

body .btn a.link-voltar {
  position: absolute;
  top: 272px;
  padding: 10px;
  border-radius: 50%;
}

@media screen and (max-width: 639px) {
  body .btn a.link-voltar {
    top: 258px;
  }
}

body .btn a.link-voltar i {
  vertical-align: middle;
}

body .btn button {
  display: inline-block;
  transition: 0.4s;
  font-weight: 700;
  color: #f7faf8;
  border-radius: 4px;
}

body .btn button:hover {
  color: #18211a;
  box-shadow: 0px 0px 0px 3px #18211a;
}

body .btn button.btn-cancelar {
  background: #f32;
}

@media screen and (max-width: 639px) {
  .navbar .logo-cabecalho {
    margin: 0 auto;
  }
}

.navbar .logo-cabecalho a {
  padding-left: 0;
  padding-right: 55px;
}

.navbar .ativo {
  display: none;
}

.navbar .menu li {
  margin-left: 15px;
}

.navbar .menu li a {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  padding: 5px 8px;
  min-height: 1px;
  display: block;
}

.navbar .menu li a::after {
  content: "";
  display: block;
  background: #f82;
  height: 2px;
  width: 0;
  transition: 0.4s;
}

.navbar .menu li a:hover::after {
  width: 100%;
}

.navbar .menu li .btn-login {
  margin-left: 10px;
  background: #f82;
  color: #f7faf8;
  transition: 0.4s;
  display: flex;
}

.navbar .menu li .btn-login:hover {
  color: #18211a;
  box-shadow: 0px 0px 0px 3px #18211a;
}

.navbar .menu li .btn-login i {
  margin-left: 10px;
}

@media screen and (max-width: 959px) {
  .navbar {
    padding: 10px 15px 10px 0;
  }
}

@media screen and (min-width: 640px) and (max-width: 1199px) {
  .navbar {
    padding: 10px 30px 10px 15px;
  }
}

@media screen and (max-width: 1199px) {
  .navbar {
    padding: 10px 40px 10px 25px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 10px 80px 10px 65px;
  }
}

.navbar.navbar-interno {
  background: #c1d6c8 !important;
}

@media screen and (max-width: 639px) {
  .navbar.navbar-interno .logo-cabecalho {
    margin: 0 auto;
  }
}

.navbar.navbar-interno .ativo {
  display: none;
}

.navbar.navbar-interno .menu li {
  margin-left: 15px;
}

.navbar.navbar-interno .menu li a {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  padding: 8px 13px;
  min-height: 1px;
  display: block;
  /* 'after' do link ativo */
}

.navbar.navbar-interno .menu li a::after {
  content: "";
  display: block;
  background: #f82;
  height: 2px;
  width: 0;
  transition: 0.4s;
}

.navbar.navbar-interno .menu li a:hover::after {
  width: 100%;
}

.navbar.navbar-interno .menu li a.active::after {
  width: 100%;
}

.navbar.navbar-interno .menu li .btn-login {
  margin-left: 10px;
  background: #f82;
  color: #f7faf8;
  transition: 0.4s;
  display: flex;
}

.navbar.navbar-interno .menu li .btn-login:hover {
  color: #18211a;
  box-shadow: 0px 0px 0px 3px #18211a;
}

.navbar.navbar-interno .menu li .btn-login i {
  margin-left: 10px;
}

.btn-menu-mobile a,
.btn-menu-mobile span {
  color: #18211a;
}

.btn-menu-mobile a {
  padding: 0 10px 0 0;
}

.menu-mobile {
  background: #f7faf8;
}

.menu-mobile .divisor {
  border-top: 1px solid rgba(17, 153, 51, 0.1);
}

.menu-mobile li {
  width: 260px;
  margin-left: -20px;
  padding: 6px 0;
}

.menu-mobile li.active {
  background: rgba(17, 153, 51, 0.1);
  color: #193;
  border-radius: 0 10px 10px 0;
}

.menu-mobile li a {
  display: inline-flex !important;
  color: #18211a;
  padding: 5px 100px 5px 20px;
}

.menu-mobile li a:visited {
  color: inherit;
}

.menu-mobile li a:active {
  color: inherit;
}

.menu-mobile li a i {
  margin-right: 10px;
}

.login .card-login {
  background: #f7faf8;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.login .card-login input {
  outline: none;
  border-color: #c1d6c8;
}

.login .card-login input:focus {
  border-color: #5d7;
}

.login .card-login label,
.login .card-login input,
.login .card-login input:focus {
  color: #18211a;
}

.login .card-login span.acoes-login:first-of-type::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fa6;
  display: inline-block;
  margin: 0 5px 2px 10px;
}

.login .card-login span.acoes-login a {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  text-decoration: none;
  color: #193;
  transition: 0.4s;
  text-transform: initial;
  padding: 0;
}

.login .card-login span.acoes-login a:hover {
  color: #5d7;
}

.login .card-login .check-lembrar-senha {
  border-radius: 4px;
}

@media screen and (max-width: 392px) {
  .cadastro .link-voltar-login {
    margin-top: 20px;
  }
}

.recuperar-senha .card-recuperar-senha {
  background: #f7faf8;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.recuperar-senha .card-recuperar-senha .alerta-logado h4 {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  color: #f82;
  font-size: 1.125em;
}

.recuperar-senha .card-recuperar-senha .alerta-logado .link-voltar-home {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  color: #193 !important;
  transition: 0.4s;
  margin-top: 20px;
}

.recuperar-senha .card-recuperar-senha .alerta-logado .link-voltar-home:hover {
  color: #5d7 !important;
}

.introducao {
  background: #9fa;
  padding: 15px 30px;
}

.introducao .bg-pattern .introducao-titulo {
  padding-top: 10px;
}

.introducao .bg-pattern .introducao-titulo img {
  margin: 0 auto;
}

.introducao .bg-pattern .introducao-titulo span {
  margin-top: 15px;
}

.introducao .bg-pattern .introducao-titulo h1 {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 3em;
  line-height: 1.2;
  font-weight: 500;
}

@media screen and (max-width: 639px) {
  .introducao .bg-pattern .introducao-titulo h1 {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #18211a;
    font-size: 2.25em;
    line-height: 1.2;
    font-weight: 500;
  }
}

.andar h3 {
  margin-bottom: 0px;
}

@media screen and (max-width: 959px) {
  .andar .mapa-andar .bg-badge {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: #18211a;
    font-size: 0.875em;
    line-height: 1.4;
    font-weight: 500;
    background: none;
    color: #f82;
  }
}

.andar .bg-badge {
  background: #193;
  font-weight: 700;
}

.andar .legenda {
  margin-top: 10px;
}

.andar .legenda li {
  display: inline-block;
  padding: 0 10px;
}

.andar .legenda li a {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: #18211a;
  font-size: 0.875em;
  line-height: 1.4;
  font-weight: 500;
  text-decoration: none;
}

.andar .legenda li a:hover {
  color: #f82;
  transition: 0.3s;
}

.andar .legenda li a span {
  margin-right: 0px;
}

.salas h1::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: #fa6;
  margin-top: 10px;
  border-radius: 5px;
}

.salas .img-sala {
  text-align: center;
}

.salas .img-sala .img-lampada,
.salas .img-sala .img-arcondicionado {
  margin-top: 20px;
}

.salas .img-sala .icones-lampada,
.salas .img-sala .icones-arcondicionado {
  height: 22px;
  width: 22px;
  background: #e21;
  color: #f7faf8;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  border-radius: 50%;
}

.salas [data-click] {
  border-radius: 5px;
}

.salas [data-click].active {
  background: #5d7;
  color: #f7faf8;
}

.salas [data-target] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-50px, 0, 0);
  position: absolute;
  top: 0;
}

.salas [data-target].active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  position: relative;
  top: auto;
  transform: translate3d(0px, 0, 0);
}

.salas .interruptor {
  margin-top: 60px;
}

.salas .interruptor h5 {
  margin-bottom: 10px;
}

.salas .interruptor h5:not(:first-of-type) {
  margin-top: 20px;
}

.salas .interruptor .switch {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 40px;
}

.salas .interruptor .switch .switch-slider {
  background-color: rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 500px;
  bottom: 0;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07);
}

.salas .interruptor .switch .switch-slider::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 2px;
  bottom: 4px;
  border-radius: 50%;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
}

.salas .interruptor .switch .switch-slider.switch-on-off {
  background-color: #f32;
}

.salas .interruptor .switch input:checked + .switch-slider:before {
  transform: translateX(20px);
}

.salas .interruptor .switch input:checked + .switch-slider.switch-on-off {
  background-color: #5d7 !important;
}

@media screen and (max-width: 990px) {
  .usuarios .uk-button {
    padding: 0 20px;
  }
}

@media screen and (max-width: 868px) {
  .usuarios .btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 454px) {
  .usuarios .btn-solicitacao {
    margin-top: 20px;
  }
}

@media screen and (max-width: 340px) {
  .usuarios .btn-confirmar {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 260px) {
  .usuarios .btn-cancelar {
    margin-top: 20px;
  }
}

.usuarios table th {
  color: #18211a;
  font-weight: bold;
}

@media screen and (max-width: 487px) {
  .solicitacao .btn {
    margin-top: 20px;
  }
}

@media screen and (max-width: 344px) {
  .solicitacao .btn-cancelar {
    margin-top: 20px;
  }
}

.rodape .dados {
  background: #18211a;
  color: #f7faf8;
  padding: 40px 0;
}

.rodape .dados .contatos h3::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: #fa6;
  margin-top: 10px;
  border-radius: 5px;
}

.rodape .dados .contatos h3,
.rodape .dados .contatos ul li,
.rodape .dados .contatos span {
  color: #f7faf8;
}

.rodape .dados .contatos span {
  font-weight: 700;
}

.rodape .dados .logo-rodape {
  padding-top: 50px;
}

@media screen and (max-width: 640px) {
  .rodape .dados .logo-rodape {
    padding-top: 0;
    text-align: center;
  }
}

.rodape .copyright {
  background: #193;
  padding: 15px 0;
}

.rodape .copyright p {
  color: #f7faf8;
}

.andares h1 {
  margin-bottom: 30px;
}

.andares h1::after {
  content: "";
  display: block;
  width: 90px;
  height: 3px;
  background: #fa6;
  margin-top: 10px;
  border-radius: 5px;
}

.andares a {
  display: block;
}

.andares .card-andar {
  background: #f7faf8 no-repeat;
  border: 1px solid #9fa;
  padding: 30px;
}

.andares .card-andar:hover {
  background-color: #f7faf8;
}

.andares .card-andar h3 {
  font-weight: 700;
}

.andares .card-andar .img-bg-andar {
  margin: 40px auto;
}

.andares .card-andar .img-bg-andar:last-of-type {
  height: 290px;
}

@media screen and (min-width: 1200px) {
  .andares ul li:not(.uk-active) {
    opacity: 40%;
    transition: 0.4s;
  }
}

.andares .controle-slide {
  color: #f82;
}
